<html>

<head>
    <style>
        body {
            background-color: black;
            color: magenta;
        }
    </style>
    <script>
        setInterval(function () {
            location.reload();
        }, 60000); // refresh the page every 60 seconds
    </script>
</head>

<body>
    <div>
        <h1>Validator Toolbox Stats:</h1>
        <p>{{ output | safe }}</p>
    </div>
    <div>
        <p>Stats by <a href='https://easynode.pro'>EasyNode.PRO</a></p>
    </div>
</body>

</html>